.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
}

.text {
  flex: 4;
  position: relative;
}

.star,
.check,
.plus {
  display: inline-block;
  flex: 0.4;
  background: none;
  border: none;
  text-align: center;
  font-size: 1.5em;
  height: 3em;
  line-height: 3em;
}

.check {
  display: flex;
  align-items: center;
}

.checked::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 1px;
  background: #171611;
  left: 5px;
  bottom: -3px;
}
